@charset="utf-8";

/*  Bootstrap theming and override  */
.navbar-default{
	background-color:#5CD1D8;
}

.navbar-default .navbar-brand{
	color:yellow;
}

.navbar-brand{
	font-size:1.8em;
	font-family:cursive;
}
/* Remove padding between nav and container */
.container {
	padding-left:0;
	padding-right:0;

}

/*Striped table row design */
.table-striped > tbody > tr:nth-of-type(2n+1) {
	background-color:#fbf8cc

}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > 
a:focus{

	background-color:white;
	font-weight:bold;
	border:1px solid #5CD1D8;

}

.row {

	margin-left:initial;
	margin-right:initial;
}

vbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color:#FDFF89;
}

.table > tbody > tr > td {
	line-height:2.2;
}

/* Active pagination background */
.pagination > .active > a{
	background-color:#5CD1D8;
	border-color:#5CD1D8;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
	background-color:#5CD1D8;
	border-color:#5CD1D8;

}


/* Custom classes */

.login-form{
	margin-top:10%;
}

.error-message {
	color:red;
}

.validation-error {

	color:red;
}

.container {
	background-color:aliceblue;
}

body{
	background-color:azure;
}

article {
	padding-left:15px;
	padding-right:15px;
}

