<h3>Usuarios</h3>
<div class="row">
	<span class="glyphicon glyphicon-search"></span>
	<input type="text" ng-model="searchText" placeholder="Pesquisar...">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>username</th>
				<th>email</th>
				<th>#</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="u in filteredUsers | filter:searchText">
				<td>{{u.username}}</td>
				<td>{{u.email}}</td>
				<td><a href="/Admin/#/Usuario/{{u.username}}">
						<button class="btn btn-default">
							<span class="glyphicon glyphicon-edit">
							</span>
						</button>
					</a>
			</tr>
		</tbody>
	</table>
	</div>
	<uib-pagination total-items="totalItems" num-pages="numPages" max-size="maxSize" ng-model="currentPage" 
		boundary-link="true"
		next-text="Próximo"
		previous-text="Anteior"
		change="pageChanged()"></uib-pagination>




<div class="row">
	<a href="/Admin/#/Usuario">
		<button class="btn btn-default">Adicionar</button>
	</a>
</div>


